*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.concert{
    font-family: "Concert One", sans-serif;
}

.dosis{
    font-family: "Dosis", sans-serif;
}

body{
    background: #CAF4FF;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}


.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    padding-top: 10px;
    position: fixed;
    z-index: 10;
}

.logo{
    width: 76px;
    height: 76px;
    border: 2px solid #551A8B;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo img{  
    width: 70%;
    margin-top: 5px;
}

.menu-rows ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8px;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid #551A8B;
    background: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.menu-rows li{
    margin-right: 10px;
}

.menu-rows a{
    color: #551A8B;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.menu-column{
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}

.menu-column .button-toggle{
    background: #f4f4f4;
    border: 2px solid #551A8B;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.menu-column ul{
    background: #f4f4f4;
    width: 160px;
    height: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style: none;
    border-radius: 10px;
    border: 2px solid #551A8B;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu-column a{
    font-size: 26px;
    color: #551A8B;
    text-decoration: none;
}



.navbar a:hover{
    color: #a078c6;
}

.container{
    width: 100vw;
}

.section-welcome{
    width: 100%;
    height: 100vh;
    background: linear-gradient(190deg, rgba(234,251,255,0) 53%, rgba(208,245,255,0.9193802521008403) 72%, rgba(202,244,255,1) 100%), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.section-welcome h1{
    color: #551A8B;
    position: absolute;
    bottom: 20px;
    left: 60px;
    font-size: 50px;
}

.section-about{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}


.section-about h2{
    font-size: 40px;
}

.section-about p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.section-about p:last-child{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.section-about a{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #551A8B;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 19px;
}

.section-about-more{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-inline: 10vw;
    background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(202,244,255,1) 100%);
}

.section-about-more .image{
    width: 400px;
    height: 300px;
}

.section-about-more .image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.section-about-more .deskripsi{
    width: 400px;
    height: 300px;
    flex-grow: 1;
    color: black;
}

.section-about-more .deskripsi h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: #551A8B;
    text-decoration: underline;
}

.section-about-more .deskripsi p{
    font-size: 17px;
}

.seperator-line{
    border-radius: 1px;
    width: 80%;
    height: 2px;
    background: #551A8B;
    margin: 0 auto; /* Center the element horizontally */
    display: block; 
}

.section-visi-misi{
    height: 80vh;
    padding-inline: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vm{
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-inline: 40px;
}

.vm h2{
    font-size: 30px;
    color: #551A8B;
}
.vm p{
    flex-grow: 1;
    text-align: justify;
    font-size: 18px;
}


.section-gallery{
    background: linear-gradient(180deg, rgba(202,244,255,1) 0%, rgba(215,244,252,1) 4%, rgba(244,244,244,1) 19%);
    width: 100%;
    height: 80vh;
    padding-inline: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-bottom: 40px;
}

.section-gallery h2{
    font-size: 40px;
}

.more{
    display: flex;
    flex-direction: row-reverse;
}

.section-gallery a {
    width: 160px;
    height: 36px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #551A8B;
    color: #f4f4f4;
    margin-top: 20px;
    text-decoration: none;
}

.gallery-content{
    width: 100%;
    height: 250px;
    display: flex;
    gap: 20px;
}
.gallery-slider {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to the nearest gallery item */
    scroll-behavior: smooth; /* Smooth scrolling */
}

.gallery{
    width: 100%;
    height: 100%;
    color: #CAF4FF;
    padding: 20px;
}

.gallery p{
    color: #551A8B;
    margin-left: 6px;
}

.photo{
    width: 260px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    background: white;
    margin-bottom: 10px;
    overflow: hidden;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 100ms ease-in-out;
}

.photo img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.section-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 200px;
    padding-inline: 100px;
    background: #5AB2FF;
}


.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #646464;
}

.footer-section p {
    margin: 5px 0;
}



@media screen and (max-width: 768px) {
    .section-about{
        padding-inline: 20px;
        height: 100vh;
    }

    .section-gallery{
        height: 80vh;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 680px) {
    .menu-rows{
        display: none;
    }
    .menu-column{
        display: flex;
    }
    .navbar{
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {

    .navbar{
        padding-inline: 10px;
    }
    .section-gallery{
        padding-inline: 10px;
    }

    .section-welcome h1{
        color: #551A8B;
        position: absolute;
        bottom: 20px;
        left: 30px;
        font-size: 44px;
    }
}

@media screen and (max-width: 430px) {
    .section-footer{
        padding-inline: 0;
    }
    .section-welcome h1{
        bottom: 30px;
        left: 18px;
        font-size: 40px;
    }
}


@media screen and (max-width: 321px) {


    .section-welcome h1{
        font-size: 36px;
        text-align: center;
    }
}